@import './componentsStyles/header.scss';
@import './componentsStyles/threeTabs.scss';
@import './componentsStyles/createTodo.scss';
@import './componentsStyles/progressCard.scss';
@import './componentsStyles/sixWarning.scss';
@import './componentsStyles/removeWarning.scss';

body {
    font-weight: bold;
}

::placeholder {
    color: black;
    font-weight: bold;
    font-size: 16px;
}