.createForm {
    width: 650px;
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    top: 0px;
    left: 0px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .createForm_title {
        width: 150px;
        height: 30px;
        text-align: center;
        border-radius: 5px;
        font-size: 20px;
    }

    .createForm_descrip {
        height: 90px;
        margin-top: 15px;
        text-align: center;
        border-radius: 5px;
        font-size: 20px;
    }

    .createForm_footer {
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .footer_select {
            width: 200px;
            height: 30px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            color: black;
        }

        button {
            width: 150px;
            height: 30px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 17px;
            color: black;
        }
    }
}