.header {
    margin: 0 auto;
    padding: 0px 100px;
    width: 1300px;
    height: 70px;
    background-color: rgb(211, 133, 248);
    border: 2px solid rgb(180, 50, 240);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .header_appNameText {
        font-size: 40px;
    }

    .header_clock {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 30px;
        background-color: white;
        border: 2px solid rgb(180, 50, 240);
        border-radius: 5px;
        font-weight: bold;
        font-size: 25px;
    }
}