.removeWarningForm {
    width: 400px;
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    position: fixed;
    top: calc(50% - 100px);
    left: calc(50% - 216.6px);
    z-index: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    button {
        width: 130px;
        height: 30px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 17px;
        color: black;
        margin-top: 15px;
    }
}